{% extends 'base.html' %}
{% block title %}
    Editar
{% endblock %}
{% load static %}

{% block content %}
<div class="min-h-screen bg-gradient-to-r from-gray-300 to-gray-500 flex items-center justify-center">
    <div class="container mx-auto p-4 max-w-2xl bg-lime-100 shadow-md rounded-lg mt-10">
        <h1 class="text-3xl font-bold mb-6 text-center text-gray-700">Editar Trabajo</h1>
        <form method="post" class="space-y-6">
            {% csrf_token %}
            <div class="space-y-2">
                {{ form.as_p }}
            </div>
            <div class="flex justify-between items-center">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded transition-all">
                    Guardar Cambios
                </button>
                <button type="button" onclick="toggleModal('deleteModal')" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-6 rounded transition-all">
                    Eliminar
                </button>
            </div>
        </form>


    <div id="deleteModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
        <div class="bg-white p-8 rounded shadow-lg w-1/3">
            <p>¿Estás seguro de que quieres eliminar este oferta</p>
            <div class="flex justify-between mt-6">
                <button type="button" onclick="toggleModal('deleteModal')" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                    Cancelar
                </button>
                <form method="post" action="{% url 'delete_job' object.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Confirmar Eliminación
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleModal(modalID) {
        let modal = document.getElementById(modalID);
        if (modal) {
            modal.classList.toggle('hidden');
        } else {
            console.log("Modal no encontrado");
        }
    }
</script>

{% endblock %}
